<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kos.triple.project.persistence.hee.MemberDAO">
	
	<insert id="inputMemberPro" parameterType="kos.triple.project.vo.MemberVO">
		
		INSERT INTO member(mem_id,name,password,email1,email2,sex,phone1,phone2,phone3,birth,grade)
		VALUES(
			   #{mem_id},#{name},#{password},
			   #{email1},#{email2},#{sex},
			   #{phone1},#{phone2},#{phone3},
			   #{birth},#{grade}
		)
		
	</insert>
</mapper>
